     .ngmsfljxsn {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .ngmsfljxsn-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .ngmsfljxsn-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .ngmsfljxsn-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .ngmsfljxsn-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .vccluuaylz {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .vccluuaylz-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .vccluuaylz-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .vccluuaylz-lg {
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(min-width:1200px) {
  .vccluuaylz-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .vjnnmshjxn {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .vjnnmshjxn-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .vjnnmshjxn-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .vjnnmshjxn-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .vjnnmshjxn-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .ohsuiciozr {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .ohsuiciozr-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .cbtudoiljq {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .cbtudoiljq-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
@media(min-width:1200px) {
  .cbtudoiljq-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
}  .qgtaccphhr {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .qgtaccphhr-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .fqbyehnmck {
  background-color: #fff;
}
@media(min-width:1200px) {
  .fqbyehnmck-xl {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
  }
}          .uizdbdlewx {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .uizdbdlewx-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .uizdbdlewx-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:992px) {
  .uizdbdlewx-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .uizdbdlewx-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .wjgijvylai {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .wjgijvylai-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .wjgijvylai-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:992px) {
  .wjgijvylai-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .wjgijvylai-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .huxydvcqqi {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .huxydvcqqi-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .huxydvcqqi-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:992px) {
  .huxydvcqqi-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .huxydvcqqi-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .ngmoimdczb {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .ngmoimdczb-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .ngmoimdczb-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:992px) {
  .ngmoimdczb-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .ngmoimdczb-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .qhztlsylpa {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .qhztlsylpa-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .qhztlsylpa-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:992px) {
  .qhztlsylpa-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .qhztlsylpa-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .mhyjfwlxwb {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .mhyjfwlxwb-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .mhyjfwlxwb-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:992px) {
  .mhyjfwlxwb-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .mhyjfwlxwb-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .bsvezthefc {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .bsvezthefc-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .bsvezthefc-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .bsvezthefc-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .bsvezthefc-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .jvszsyzuns {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .jvszsyzuns-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .jvszsyzuns-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:992px) {
  .jvszsyzuns-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .jvszsyzuns-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .pnqnmdjelv {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .pnqnmdjelv-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: center;
    grid-column-start: 1;
  }
}  .tccegvckfp {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .tccegvckfp-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: flex-start;
    grid-column-start: 2;
  }
}
@media(min-width:992px) {
  .tccegvckfp-lg {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}
@media(min-width:1200px) {
  .tccegvckfp-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}  .vsrxqakwhr {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .vsrxqakwhr-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: center;
    grid-column-start: 2;
  }
}  .ifzhazapwa {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .ifzhazapwa-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: flex-start;
    grid-column-start: 1;
  }
}
@media(min-width:992px) {
  .ifzhazapwa-lg {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}
@media(min-width:1200px) {
  .ifzhazapwa-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}  .zhfxcjozwh {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .zhfxcjozwh-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: center;
    grid-column-start: 1;
  }
}  .zbupoyjqne {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .zbupoyjqne-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: flex-start;
    grid-column-start: 2;
  }
}
@media(min-width:992px) {
  .zbupoyjqne-lg {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}
@media(min-width:1200px) {
  .zbupoyjqne-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}  .yxxncxgxuh {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .yxxncxgxuh-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: center;
    grid-column-start: 2;
  }
}  .xhduebmrht {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .xhduebmrht-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: flex-start;
    grid-column-start: 1;
  }
}
@media(min-width:992px) {
  .xhduebmrht-lg {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}
@media(min-width:1200px) {
  .xhduebmrht-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}  .yjdklydmou {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .yjdklydmou-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: center;
    grid-column-start: 1;
  }
}  .opkrliuwwj {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .opkrliuwwj-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: flex-start;
    grid-column-start: 2;
  }
}
@media(min-width:992px) {
  .opkrliuwwj-lg {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}
@media(min-width:1200px) {
  .opkrliuwwj-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}  .vagxuqrozk {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .vagxuqrozk-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: center;
    grid-column-start: 2;
  }
}  .ssawollqmn {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .ssawollqmn-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: flex-start;
    grid-column-start: 1;
  }
}
@media(min-width:992px) {
  .ssawollqmn-lg {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}
@media(min-width:1200px) {
  .ssawollqmn-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}  .qecfngtztu {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .qecfngtztu-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .gmruhanpic {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: flex-start;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: flex-start;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:576px) {
  .gmruhanpic-sm {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
  }
}
@media(min-width:768px) {
  .gmruhanpic-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: flex-start;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: flex-start;
    grid-column-start: 2;
  }
}
@media(min-width:992px) {
  .gmruhanpic-lg {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
}
@media(min-width:1200px) {
  .gmruhanpic-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
}  .oikurehwpr {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: flex-start;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: flex-start;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:576px) {
  .oikurehwpr-sm {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
  }
}
@media(min-width:768px) {
  .oikurehwpr-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: flex-start;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: flex-start;
    grid-column-start: 1;
  }
}
@media(min-width:992px) {
  .oikurehwpr-lg {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
}
@media(min-width:1200px) {
  .oikurehwpr-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
}