   @media(min-width:1200px) {
  .vaabothbsz-xl {
    flex-grow: 1;
  }
}  .ngmsfljxsn {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .ngmsfljxsn-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .ngmsfljxsn-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .ngmsfljxsn-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .ngmsfljxsn-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .vccluuaylz {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .vccluuaylz-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .vccluuaylz-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .vccluuaylz-lg {
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(min-width:1200px) {
  .vccluuaylz-xl {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .vjnnmshjxn {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .vjnnmshjxn-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .vjnnmshjxn-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .vjnnmshjxn-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .vjnnmshjxn-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .ohsuiciozr {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .ohsuiciozr-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .cbtudoiljq {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .cbtudoiljq-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
@media(min-width:1200px) {
  .cbtudoiljq-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
}  .qgtaccphhr {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .qgtaccphhr-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .fqbyehnmck {
  background-color: #fff;
}
@media(min-width:1200px) {
  .fqbyehnmck-xl {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
  }
}  .wcfmvqwane {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .wcfmvqwane-sm {
    margin-left: auto;
    margin-right: auto;
  }
}
@media(min-width:768px) {
  .wcfmvqwane-md {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .wcfmvqwane-lg {
    margin-left: auto;
    margin-right: auto;
  }
}
@media(min-width:1200px) {
  .wcfmvqwane-xl {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
}  .ykyjgqauti {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .ykyjgqauti-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}