   @media(min-width:1200px) {
  .oevfwkwgiz-xl {
    flex-grow: 1;
  }
}  .jwkfwtfrsv {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .jwkfwtfrsv-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .jwkfwtfrsv-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .jwkfwtfrsv-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .jwkfwtfrsv-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .dcpmrieueo {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .dcpmrieueo-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .dcpmrieueo-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
  }
}
@media(min-width:992px) {
  .dcpmrieueo-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .dcpmrieueo-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
}  .pagpkkxixn {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .pagpkkxixn-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .pagpkkxixn-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .pagpkkxixn-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .pagpkkxixn-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .wgmthhjvez {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .wgmthhjvez-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .bfyoqighbi {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: flex-start;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .bfyoqighbi-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: center;
    grid-column-start: 1;
  }
}
@media(min-width:1200px) {
  .bfyoqighbi-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
}  .ybzuxpqczk {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .ybzuxpqczk-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: center;
    grid-column-start: 2;
  }
}
@media(min-width:1200px) {
  .ybzuxpqczk-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
}  .cnpyyklfvm {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .cnpyyklfvm-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .zskbvpopsf {
  background-color: #fff;
}
@media(min-width:1200px) {
  .zskbvpopsf-xl {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
  }
}  .vxtapsydzu {
  flex: 1;
  width: 100%;
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}  .fgpjwnudlc {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  grid-row-end: 2;
  align-content: center;
  grid-row-start: 1;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}