   @media(min-width:1200px) {
  .iotmckcboe-xl {
    flex-grow: 1;
  }
}  .fcsxsoywqa {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .fcsxsoywqa-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .fcsxsoywqa-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .fcsxsoywqa-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .fcsxsoywqa-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .nvguaoszai {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .nvguaoszai-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .nvguaoszai-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .nvguaoszai-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .nvguaoszai-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .trxukwfbaq {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .trxukwfbaq-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .trxukwfbaq-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .trxukwfbaq-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .trxukwfbaq-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .srysusszxs {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .srysusszxs-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .uokmvcslft {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: flex-start;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: flex-start;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .uokmvcslft-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .lyrlmksqle {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .lyrlmksqle-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .aidtrfdlci {
  background-color: #fff;
}
@media(min-width:1200px) {
  .aidtrfdlci-xl {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
  }
}  .lfruyxayfh {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .lfruyxayfh-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .lfruyxayfh-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
  }
}
@media(min-width:992px) {
  .lfruyxayfh-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .lfruyxayfh-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .jwugyawfwl {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .jwugyawfwl-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .jwugyawfwl-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
  }
}
@media(min-width:992px) {
  .jwugyawfwl-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .jwugyawfwl-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .quaklwzigg {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .quaklwzigg-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .quaklwzigg-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
  }
}
@media(min-width:992px) {
  .quaklwzigg-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .quaklwzigg-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .dtclnrjoff {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .dtclnrjoff-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .dtclnrjoff-md {
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
  }
}
@media(min-width:992px) {
  .dtclnrjoff-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .dtclnrjoff-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .hhumlavrsc {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .hhumlavrsc-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: center;
    grid-column-start: 1;
  }
}  .xsdtpsedbn {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .xsdtpsedbn-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: center;
    grid-column-start: 2;
  }
}
@media(min-width:1200px) {
  .xsdtpsedbn-xl {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}  .dscoxvjkpr {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .dscoxvjkpr-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: center;
    grid-column-start: 1;
  }
}  .ksckzgxvvs {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .ksckzgxvvs-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: center;
    grid-column-start: 2;
  }
}  .hhtvzjuogu {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .hhtvzjuogu-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: center;
    grid-column-start: 1;
  }
}  .ptagtjhold {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .ptagtjhold-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: center;
    grid-column-start: 2;
  }
}  .krbkebxcvu {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .krbkebxcvu-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 2;
    justify-content: center;
    grid-column-start: 1;
  }
}  .dzvmzperrv {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 3;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 2;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .dzvmzperrv-md {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    padding-top: 15px;
    grid-row-end: 2;
    padding-left: 15px;
    align-content: center;
    padding-right: 15px;
    grid-row-start: 1;
    padding-bottom: 15px;
    grid-column-end: 3;
    justify-content: center;
    grid-column-start: 2;
  }
}