   @media(min-width:1200px) {
  .iotmckcboe-xl {
    flex-grow: 1;
  }
}  .fcsxsoywqa {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .fcsxsoywqa-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .fcsxsoywqa-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .fcsxsoywqa-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .fcsxsoywqa-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .nvguaoszai {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .nvguaoszai-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .nvguaoszai-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .nvguaoszai-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .nvguaoszai-xl {
    max-width: 1140px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}  .trxukwfbaq {
  flex: 1;
  width: 100%;
  display: grid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media(min-width:576px) {
  .trxukwfbaq-sm {
    max-width: 540px;
  }
}
@media(min-width:768px) {
  .trxukwfbaq-md {
    max-width: 720px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media(min-width:992px) {
  .trxukwfbaq-lg {
    max-width: 960px;
  }
}
@media(min-width:1200px) {
  .trxukwfbaq-xl {
    max-width: 1140px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}  .srysusszxs {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .srysusszxs-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .uokmvcslft {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: flex-start;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: flex-start;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .uokmvcslft-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .lyrlmksqle {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  padding-top: 5px;
  grid-row-end: 2;
  padding-left: 5px;
  align-content: center;
  padding-right: 5px;
  grid-row-start: 1;
  padding-bottom: 5px;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}
@media(min-width:768px) {
  .lyrlmksqle-md {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}  .aidtrfdlci {
  background-color: #fff;
}
@media(min-width:1200px) {
  .aidtrfdlci-xl {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
  }
}  .rcnlsozpqp {
  flex: 1;
  width: 100%;
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}  .cvklqyelou {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
  grid-row-end: 2;
  align-content: center;
  grid-row-start: 1;
  grid-column-end: 2;
  justify-content: center;
  grid-column-start: 1;
}